

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
	{
		background-color:#000;
		background-image:url(../img/bg.png);
		background-position:center center;
	}
*{color:#fff;}

.jumbotron{color:#fff; background-color: rgba(0,0,0,0.5);}

.cdrround{
	background-color: rgba(255,255,255,0.15);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #fff;
	margin:2px;
	padding: 10px 40px;
}















